<div decorator="mdl" class="app-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="app-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Components Testing</span>
            <div class="mdl-layout-spacer"></div>
            <div decorator="mdl" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label decorator="mdl" class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search" on-change="filterSalaries(event)" />
                    <label class="mdl-textfield__label" for="search">Mots clés</label>
                </div>
            </div>
            <button decorator="mdl" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul decorator="mdl" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">Profil</li>
                <li class="mdl-menu__item">Contact</li>
                <li class="mdl-menu__item">Mentions Légales</li>
            </ul>
        </div>
    </header>
    <div class="app-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="app-drawer-header">
            {{#if compteCourant }}
            <img src="{{compteCourant.photo}}" class="app-avatar">
            <div class="app-avatar-dropdown">
                <span>{{compteCourant.getFullname()}}</span>
                <div class="mdl-layout-spacer"></div>
                <button decorator="mdl" id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul decorator="mdl" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    {{#comptes}}
                    <li on-click="switchCompte(event, this)" class="mdl-menu__item">{{this.getFullname()}}</li>
                    {{/comptes}}
                </ul>
            </div>
            {{/if}}
        </header>
        <nav class="app-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Accueil</a>
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i><span class="mdl-badge" data-badge="{{operationPendingCount}}">Opérations</span></a>
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">location_city</i>Entités</a>
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Salariés</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Aide</span></a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
            <div class="app-virement-boxes mdl-color--white  mdl-cell mdl-cell--12-col mdl-grid">
            {{#filteredSalaries}}
            <div class="app-card-virement mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{fullname}}</h2>
                </div>
                <div class="mdl-card__media {{#if civilite === 'M'}}app-card-male{{else}}app-card-female{{/if}}">
                    <img src="{{photo}}" class="app-virement-owner">
                    <div class="app-virement-balance">Balance: {{balance}} €</div>
                </div>
                <div class="mdl-card__supporting-text">
                    <div><strong>IBAN</strong></div>
                    <table decorator="mdl" class="app-virement-iban mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Pays</th>
                            <th>Contrôle</th>
                            <th>Banque</th>
                            <th>Guichet</th>
                            <th>Compte</th>
                            <th>Clé RIB</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ibanVO.pays}}</td>
                            <td>{{ibanVO.controle}}</td>
                            <td>{{ibanVO.banque}}</td>
                            <td>{{ibanVo.guichet}}</td>
                            <td>{{ibanVO.compte}}</td>
                            <td>{{ibanVO.cle}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div decorator="mdl" class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="{{this.montantVirement}}"  />
                        <label class="mdl-textfield__label" >Montant...</label>
                        <span class="mdl-textfield__error">Veuillez saisir un montant</span>
                    </div>
                    <button decorator="mdl" on-click="executeVirement(event)" {{#if !this.isVirementConfirmed }}disabled{{/if}} class="app-virement-validate mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Valider
                    </button>
                    <div decorator="mdl" id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate "></div>
                    <label decorator="mdl" id="confirm-virement-{{id}}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" {{#if !this.isValidVirementMontant }}style="visibility: hidden"{{/if}}>
                        <input type="checkbox" class="mdl-checkbox__input" on-click="toggleVirementConfirmed(event)">
                        <span class="mdl-checkbox__label">Confirmer</span>
                    </label>
                    <!--<div decorator="mdl" class="mdl-spinner mdl-js-spinner is-active" {{#if waitingVirement}}{{/if}}></div>-->
                </div>
            </div>
            {{/salaries}}
            </div>
    </main>
</div>