<table decorator="mdl" class="app-virement-iban mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Pays</th>
        <th>Contrôle</th>
        <th>Banque</th>
        <th>Guichet</th>
        <th>Compte</th>
        <th>Clé RIB</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ibanVO.pays}}</td>
        <td>{{ibanVO.controle}}</td>
        <td>{{ibanVO.banque}}</td>
        <td>{{ibanVO.guichet}}</td>
        <td>{{ibanVO.compte}}</td>
        <td>{{ibanVO.cle}}</td>
    </tr>
    </tbody>
</table>