<div class="app-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="app-drawer-header">
        {{#if compteCourant }}
        <img src="{{compteCourant.photo}}" class="app-avatar">
        <div class="app-avatar-dropdown">
            <span>{{compteCourant.getFullName()}}</span>
            <div class="mdl-layout-spacer"></div>
            <button decorator="mdl" id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
            </button>
            <ul decorator="mdl" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                {{#comptes}}
                <li on-click="switchCompte(event, this)" class="mdl-menu__item">{{this.getFullName()}}</li>
                {{/comptes}}
            </ul>
        </div>
        {{/if}}
    </header>
    <nav class="app-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Accueil</a>
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i><span class="mdl-badge" data-badge="{{operationPendingCount}}">Opérations</span></a>
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">location_city</i>Entités</a>
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Salariés</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Aide</span></a>
    </nav>
</div>